<div class="row">
  <div class="imag">
    <img src={{dop.image}} alt="" height="320px" />
  </div>
  
  <div class="container" >
    <ul>
    <li>Date Of Birth:{{dop.dob}}</li>
    <li>Spouse:{{dop.spouse}}</li>
    <!-- <li>Fondly called as Jakkana</li> -->
    <li>Upcoming Film:{{dop.upcoming}}</li>
    <li>Latest Release:{{dop.latest}} </li>
    <li>Total No. of Films:{{dop.nofilms}}</li>
    <li>Success Ratio:{{dop.successratio}}</li>
    <li>Awards:{{dop.awards}}</li>
    
    <li>Filmography:{{dop.films}}</li>
</ul>  
</div>
</div>
