<div class="row">
    <div class="imag">
      <img src="/assets/rjm.png" alt="" height="320px" />
    </div>
    
    <div class="container" >
      <ul>
      <li>Date Of Birth:10 October,1973</li>
      <li>Spouse:<a href="https://www.google.com/search?sca_esv=0581e395291e2afa&rlz=1C1CHBF_enIN1080IN1080&sxsrf=ACQVn0_W4A3QBNpXRep5oKCsfvLRWi_rZA:1707903708259&q=Rama+Rajamouli&si=AKbGX_qWtsfHufXsq_1jeDkJp50FstNngDxsch3EVTUjn7imcM-AjNPyMzfI5VK7cVTXjKE8awLZRhl3L8kwvnOU2ff5sTKb5AUGV1hgxov2N1MIuaXSrcv7wWvfuHgmlP9oyndRwgymdpEt7ovMT5KQXwRnOUNv1i-nBqJUam37ypGfvcerr0-RchWO_pFZbFRGDaLoBFGAalRbnHVDPxgczqCfNSnADg%3D%3D&sa=X&ved=2ahUKEwjhkN2OxaqEAxW8zDgGHRX9BLIQmxMoAHoECB4QAg&biw=1536&bih=730&dpr=1.25"> Rama rajamouli</a>(m:2001)</li>
      <li>Fondly called as Jakkana</li>
      <li>Upcoming Film:SSMB29</li>
      <li>Latest Release:<a href="https://www.google.com/search?q=RRR&rlz=1C1CHBF_enIN1080IN1080&oq=rrr&gs_lcrp=EgZjaHJvbWUqDggAEEUYJxg7GIAEGIoFMg4IABBFGCcYOxiABBiKBTISCAEQLhgUGIMBGIcCGLEDGIAEMg8IAhAAGEMYsQMYgAQYigUyCggDEAAYsQMYgAQyDwgEEAAYFBiHAhixAxiABDIKCAUQABixAxiABDINCAYQABiDARixAxiABDITCAcQLhiDARjUAhixAxiABBiKBTIKCAgQABixAxiABDIKCAkQABixAxiABNIBBzU1NWowajeoAgCwAgA&sourceid=chrome&ie=UTF-8">RRR</a> </li>
      <li>Total No. of Films:14</li>
      <li>Success Ratio:100%</li>
      <li>Honored with Padmasri in the year 2016 for directing the masterclass
        <a href="https://www.google.com/search?q=bahubali&rlz=1C1CHBF_enIN1080IN1080&oq=bahu&gs_lcrp=EgZjaHJvbWUqDAgBEAAYQxiABBiKBTIGCAAQRRg5MgwIARAAGEMYgAQYigUyDAgCEC4YQxiABBiKBTIMCAMQLhgKGLEDGIAEMgwIBBAAGAoYsQMYgAQyDAgFEAAYChixAxiABDIMCAYQABhDGIAEGIoFMgwIBxAAGEMYgAQYigUyCQgIEAAYChiABDIJCAkQABgKGIAE0gEJMzU1M2owajE1qAIAsAIA&sourceid=chrome&ie=UTF-8#wptab=si:AKbGX_o-KfjYsz0fxikaF0HK00KUBmHiTGwlBEl4BQMfhv1y08CwP1IB7OW9a65xDMNUq1DX5FyAQswEXX6qXjLnFZA7zmdHzFES4OVOsypqWCUjZ99MnQIGbDYpoTvuUapzLAUO49nsjPm0KLkSTx2nZxkrVML8Hw%3D%3D">Bahubali</a> franchise.</li>
      
      <li><a href="https://www.google.com/search?sca_esv=0581e395291e2afa&rlz=1C1CHBF_enIN1080IN1080&sxsrf=ACQVn0_W4A3QBNpXRep5oKCsfvLRWi_rZA:1707903708259&q=ss+rajamouli+filmography&spell=1&sa=X&ved=2ahUKEwjhkN2OxaqEAxW8zDgGHRX9BLIQBSgAegQICBAC&biw=1536&bih=730&dpr=1.25">Filmography</a></li>
  </ul>  
  </div>
  </div>
  