/* Style for the upload files section */
.uploadfiles {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .uploadfiles h2 {
    font-size: 24px;
    color: #333;
  }
  
  /* Style for the file input */
  input[type="file"] {
    display: none; /* Hide the default file input */
  }
  
  /* Custom style for the file input button */
  .upload-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .upload-btn:hover {
    background-color: #0056b3;
  }
  