<div class="row">
<div class="story-container">
    <h2 class="head">Become a ScreenWriter in just 1 click!</h2>
    <button  routerLinkActive="active" routerLink="/dashboard/screenwriter"  class="btn1">Connect with Top Screenwriters</button>
  </div>
  <div class="direction-container">
    <h2 class="head">Showcase your Directorial skills.</h2>
    <button routerLinkActive="active" routerLink="/dashboard/filmmaker" class="btn2" >Connect with Top Filmmakers</button>
  </div>
  <div class="dop-container">
    <h2 class="head">Showcase your Photography skills</h2>
    <button routerLinkActive="active" routerLink="/dashboard/dop" class="btn3">Connect with Top Cinematographers</button>
  </div>
</div>
