.slider-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  margin-left: 250px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 auto;
}

.slider-image {
  overflow: hidden;
  object-fit: cover;

}


.btn-prev,
.btn-next {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.btn-prev {
  left: 10px;
}

.btn-next {
  right: 240px;
}
