<mat-toolbar class="nav" >
    <div class="logo">
      <img src="\assets\101.ico" alt="" height="50px" width="50px">
    </div>

    <span class="head">iBot</span>
    <div class="spacer"></div>
    <a mat-button class="hom"  routerLink="dashboard//"><mat-icon>home</mat-icon>Home</a>
    <a mat-button routerLinkActive="active" routerLink="dashboard/connection"><mat-icon>smart_toy</mat-icon>Become a Bot</a>
    <a mat-button routerLinkActive="active" routerLink="dashboard/profile"><mat-icon>account_circle</mat-icon>Profile</a>
    <a mat-button  routerLinkActive="active" routerLink="dashboard/login"><mat-icon>login</mat-icon>Login</a>
    <a mat-button routerLinkActive="active" routerLink="dashboard/signup"><mat-icon>person_pin_circle</mat-icon>Sign Up</a>

  </mat-toolbar>