.mat-toolbar{
  color: rgb(22, 1, 1);
  text-align: center;
  font-size: x-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.head{
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo{
  margin-right: 30px;
}
.mat-toolbar a.mat-button {
  color: black;
}
.mat-toolbar .mat-icon {
  color: black; 
}
.spacer{
  margin-left: 819px;
  
  
}

.nav{
  background-image: url('/assets/201.gif');
  background-size: contain;
  height: 65px;

}


.slider-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  margin-left: 250px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 auto;
}

.slider-image {
  overflow: hidden;
  object-fit: cover;

}


.btn-prev,
.btn-next {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.btn-prev {
  left: 10px;
}

.btn-next {
  right: 240px;
}
