<div class="row">
  <div class="imag">
    <img src={{director.image}} alt="" height="320px" />
  </div>
  
  <div class="container" >
    <ul>
    <li>Date Of Birth:{{director.dob}}</li>
    <li>Spouse:{{director.spouse}}</li>
    <!-- <li>Fondly called as Jakkana</li> -->
    <li>Upcoming Film:{{director.upcoming}}</li>
    <li>Latest Release:{{director.latest}} </li>
    <li>Total No. of Films:{{director.nofilms}}</li>
    <li>Success Ratio:{{director.successratio}}</li>
    <li>Awards:{{director.awards}}</li>
    
    <li>Filmography:{{director.films}}</li>
</ul>  
</div>
</div>
